@using System.Globalization
@using Finma.Internet.Core
@using Sitecore.Mvc
@model Finma.Internet.Core.Models.FooterModel

@if (Model != null)
{
    <div class="l-footer l-wrap">
        <div class="l-footer-top">
            <div class="g-row">
                <div class="g-cell s-3of5">
                    @Html.Sitecore().Controller("FooterAddress", "Index")
                </div>
                <div class="g-cell s-2of5">
                    @Html.Sitecore().Controller("FooterSearch", "Index")
                </div>
            </div>
        </div>

        <div class="l-footer-list">
            @Html.Sitecore().Controller("FooterLinklist", "Index")
        </div>

        <div class="l-footer-bottom">
            <div class="g-cell left">
                @Html.Sitecore().Controller("FooterLanguage", "Index")
                @Html.Sitecore().Controller("FooterMeta", "Index")
            </div>
            <div class="g-cell right">
                @Html.Sitecore().Controller("FooterService", "Index")
            </div>
        </div>
    </div>

    <span class="footer-copy-extra">@Model.CurrentYear</span>
}
else
{
    <div class="l-main">@ApplicationConstants.DataModelIsNUll</div>
}