@using Finma.Internet.Core
@using Namics.Framework.ClassGenerator.Helper
@model Finma.Internet.Core.Models.FooterModel

<div class="mod-footer">
    <!-- Footer Address  -->

    @if (Model.FooterAddress != null)
    {
        @Model.FooterAddressEditFrameProp.RenderEditFrameBegin()

        <dl class="footer-adress-list">
            <dd>
                <span itemprop="name" class="footer-adress-title">@Model.FooterAddress.AddressTitleField.Render()</span>
            </dd>
            <dd>
                <p itemprop="address" class="footer-adress-text" itemscope itemtype="http://data-vocabulary.org/Address">
                    <span itemprop="street-address">@Model.FooterAddress.AddressStreetField.Render()</span>,
                    <span itemprop="postal-code">@Model.FooterAddress.AddressPostalCodeField.Render()</span>
                    <span itemprop="locality">@Model.FooterAddress.AddressLocalityField.Render()</span>
                </p>
            </dd>
            <dd>
                <p itemprop="tel" class="footer-adress-text">
                    <a href="tel:@Model.FooterAddress.AddressPhoneShortField.Value">@Model.FooterAddress.AddressPhoneField.Render()</a>,
                    <span>@Model.FooterAddress.AddressFaxField.Render()</span>
                </p>
            </dd>
            <dd>
                <p itemprop="mail" class="footer-adress-mail">
                    <a href="mailto:@Model.FooterAddress.AddressEmailField.Value">@Model.FooterAddress.AddressEmailField.Render()</a>
                </p>
            </dd>
        </dl>

        @Model.FooterAddressEditFrameProp.RenderEditFrameEnd()
    }
    else
    {
        <div class="l-main">@ApplicationConstants.DataModelIsNUll</div>
    }
</div>
