@using Finma.Internet.Core
@model Finma.Internet.Core.Models.FooterModel

<div class="mod-footer">
    @if (Model.FooterSearch != null)
    {
         @Model.FooterSearchEditFrameProp.RenderEditFrameBegin()

        <!-- Footer Search -->
        <ul class="footer-search">
            <li class="footer-search-title">@Model.FooterSearch.SearchTitleTextField.Render()</li>
            <li class="footer-search-field">
                @Model.FooterSearch.SearchInputFieldTextField.Render()
            </li>
        </ul>
        
        @Model.FooterSearchEditFrameProp.RenderEditFrameEnd()
    }
    else
    {
        <div class="l-main">@ApplicationConstants.DataModelIsNUll</div>
    }
</div>
