@using Sitecore.Configuration
@using Sitecore.Mvc
@using Namics.Master.Modules.LinkList.Model
@using Finma.Internet.Core.Models.NavMain
@using Namics.Master.Framework.Base.Presentation.Helper
@model NavMainModel

@if (Model != null)
{
    string style = string.Empty;
    if (Sitecore.Context.PageMode.IsPageEditorEditing)
     {
         style = "display: block;";
     }
    <div class="mod mod-nav-main" data-page="home" style="@style">
        <ul class="nav-main-list js-nav-main-list">
            @ShowLinkListFirstLevel(Model.NavigationLinkList)
            <li class="finma-public-item" style="display: block;"><a href="/finma-public" class="e-btn btn-finma-public XXXstate-active">FINMA Public</a></li>
        </ul>
    </div>
}

@helper ShowLinkListFirstLevel(NavigationLinkListModel pLinkList)
{
    if (pLinkList != null && pLinkList.Links != null && pLinkList.Links.Any())
    {
        foreach (var link in pLinkList.Links)
        {
    <li class="main-list-item js-main-list-item">
        @if (Sitecore.Context.PageMode.IsPageEditorEditing)
        {
@* var editframeLinkItem = new EditFrameHelper(link.Item, Settings.GetSetting("Finma.HeaderConfiguration.EditFrameButtonLinkList")); *@
@* editframeLinkItem.RenderEditFrameBegin() *@
            <a class="main-list-link js-main-list-link XXXstate-active" href="@link.Url">@link.Description</a>
@* editframeLinkItem.RenderEditFrameEnd() *@
        }
        else
        {
            <a class="main-list-link js-main-list-link XXXstate-active" href="@link.Url">@link.Description</a>
        }
        <ul class="main-flyout js-main-flyout">
            <li class="g-row">
                <div class="g-cell s-1of3 flyout-column-left">
                    <div class="flyout-column-left-wrap e-text">
                        @Html.Sitecore().Placeholder("phNavMainDescriptionLeft")
                    </div>
                </div>
                <div class="g-cell s-1of3 flyout-column-center">
                    <div class="flyout-column-center-wrap">
                        <span class="flyout-column-title">Bewilligung für ...</span>
                        @ShowLinkListSecondLevel(link.SubLinkList)
                    </div>
                </div>
                <div class="g-cell s-1of3 flyout-column-right">
                    <div class="flyout-column-right-wrap">
                        @Html.Sitecore().Placeholder("phNavMainDescriptionRight")
                    </div>
                </div>
            </li>
        </ul>
    </li>
        }
    }
}

@helper ShowLinkListSecondLevel(NavigationLinkListModel pLinkList)
{
    if (pLinkList != null && pLinkList.Links != null && pLinkList.Links.Any())
    {
    <ul class="flyout-column-list" style="">
        @foreach (var link in pLinkList.Links)
        {
            <li><a href="@link.Url">@link.Description</a></li>
        }
    </ul>
    }
}