﻿@using Sitecore.Mvc
@using Finma.Internet.Core
@using Namics.Master.Framework.Base.Presentation.Helper
@using Namics.Master.Modules.LinkList.Model
@using Sitecore.Configuration
@using Sitecore.Mvc
@model DefaultLinkListModel

@if (Model != null)
{
    <div class="mod-nav-meta">
        @ShowLinkList(Model)
    </div>
}
else
{
    <div>@ApplicationConstants.DataModelIsNUll</div>
}

@helper ShowLinkList(DefaultLinkListModel pLinkList)
{
    if (pLinkList != null && pLinkList.Links != null && pLinkList.Links.Any())
    {
    <ul class="nav-meta-list">
        @foreach (DefaultLinkModel link in pLinkList.Links)
        {
            <li class="nav-meta-list-item">
                @if (Sitecore.Context.PageMode.IsPageEditorEditing)
                {
                    var editframeLinkItem = new EditFrameHelper(link.Item, Settings.GetSetting("Finma.HeaderConfiguration.EditFrameButtonLinkList"));
                    @editframeLinkItem.RenderEditFrameBegin()
                    @Html.Sitecore().Field("Link", link.Item)
                    @editframeLinkItem.RenderEditFrameEnd()
                }
                else
                {
                    <a class="@Model.CssClass" href="@link.Url">@link.Description</a>
                }
            </li>
        }
    </ul>
    }
}